<div class="colorsController" ng-controller="colorsController as CC">
  <!-- <p>{{CC}}</p> -->

  <div class="box">
    <h3 class="box-title">Hue Histogram</h3>
    <div class="box-data">
      <div class="hueHistogram">

      </div>
    </div>
    <div class="box-description">
      <p>Frequency of Hues</p>
    </div>
  </div>

  <div class="box">
    <h3 class="box-title">Average Color by Chronological Click</h3>
    <div class="box-data">
      <div class="gradient-section" ng-repeat="x in CC.colorGradientByGuess" style="width: {{100/CC.colorGradientByGuess.length}}%; background-color:{{x.color}}; ">

      </div>
    </div>
    <div class="box-description">
      <p>Average color of click number in all games</p>
    </div>
  </div>

  <div class="box">
    <h3 class="box-title">Average Color by Game</h3>
    <div class="box-data">
      <div class="gradient-section" ng-repeat="x in CC.colorGradientByGame" style="width: {{100/CC.colorGradientByGame.length}}%; background-color:{{x.color}}; ">

      </div>
    </div>
    <div class="box-description">
      <p>Average color of all buttons clicked in each game</p>
    </div>
  </div>

  <div class="box">
    <h3 class="box-title">Total Average</h3>
    <div class="box-data">
      <div class="gradient-section" style="width: 100%; background-color:{{CC.totalAvgColor.color}}; ">
        <h3 ng.bind></h3>
      </div>
    </div>
    <div class="box-description">
      <p>Average color of all buttons clicked</p>
    </div>
  </div>



</div>
