<div class="timesController" ng-controller="timesController as TC">
  <!-- <p>{{LC}}</p> -->

  <!-- <button type="button" ng-click="LC.allPackages = true" name="button">Attempt Histogram</button> -->
  <!-- <div ng-show="LC.allPackages == true" class="allPackages test">

  </div> -->
  <div class="box large-box">
    <h3 class="box-title">Attemp HeatMap</h3>
      <div class="box-data">
        <div class="clicksOverTime">
        </div>
      </div>
    <div class="box-description">

    </div>
  </div>
  <div class="box">
    <h3 class="box-title">Total Clicks</h3>
    <div class="box-data">
      <h1 ng-bind="TC.packageData.totalClicks" class="totalClicks"></h1>
    </div>
    <div class="box-description">


</div>
