:root{
  --main-color: blue;
  --large-box-width: 62%;
  --stroke-color: #486668;
}
button:focus {
  outline: 0;
}
*{
  font-family: Helvetica, sans-serif;
  font-weight: 200;
}
nav{
  height: 60px;
  background-color: #dddddd;
  position: fixed;
  width: 100%;
  margin-top: -60px;

}
  div.navlinks{
    margin: 0px 100px;
    height: 100%;
  }
    div.navlinks form{
      display: inline-block;
      margin: 0;
      border-collapse: collapse;
      height: 100%;
      width: 100px;

    }
    button.nav-btn{
      background: none;
      margin: 0;
      width: 100%;
      height: 100%;
      border: none;
      color: #111111;
      display: inline-block;
      font-size: 1em;
    }
    button.nav-btn:hover{
      background-color: rgba(255, 255, 255, 0.3);
    }
html{
  overflow-x: hidden;
  overflow-y: scroll;
  color: white;
  background: #304040; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#304040, #202B28); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#304040, #202B28); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#304040, #202B28); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#304040, #202B28); /* Standard syntax */
  min-height: 100vh;
  /*min-width: 100%;*/
  /*position: fixed;*/
}
body{
  margin: 60px 0 0 0;
}
a{
  color: white;
}

  div.container{
    width: 100%;
    /*text-align: center;*/
    padding:  1.5%;;
  }
    div.box{
      width: 30%;
      padding: 0.7%;
      text-align: center;
      /*background-blend-mode: lighten;*/
      background-color: #203030;
      display: inline-block;
      border: 2px solid #486668;
      margin: 0.25%;
      vertical-align: top;
    }
    div.large-box{
      width: 60%;
      /*height:*/
    }
      h3.box-title{
        height: 30px;
        padding: 5px;
        text-align: left;
        font-weight: 300;
        font-size: 1.25em;
      }
      div.box-data{
        height: 25vw;
      }
        h1.totalClicks{
          font-size: 6em;
          font-weight: 400;
          color: #486668;
        }
      div.large-box-data{
        min-height: 280px;
      }
      div.box-description{
        text-align: left;
        height: 60px;
      }
      .hue-rect{
        vertical-align: text-bottom;
      }

div.averageByClick{


}
div.gradient-section{
  min-height: 280px;
  height: 100%;
  border-collapse: collapse;
  border: none;
  min-width: 1px;
  display: inline-block;
  vertical-align: top;
}


.grid{
  stroke: #486668;
  stroke-width: 1;
}
